*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  /* header style  */
.header{
  background-image: url('../images/resources/BannerImage.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
}
.banner-greeting{
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 233px;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.banner-title{
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* section style  */
.section{
  padding: 0px 400px;
  align-items: center;
}
.section .profile-pic{
  display: block;
  margin: auto;
}
.section-title{
  color: #f30808;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 93px;
  padding-top: 120px;
}
.section-description{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #f30808;
  line-height: 16px;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 16px;
}
.section-greeting{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 48px;
}
/* welcome section style  */
.about{
  background-image: url('../images/resources/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  margin-top: 120px;
}
.about-title{
  color: #ffffff;
font-size: 64px;
font-weight: 900;
line-height: 88px;
padding-left: 126px;
padding-top: 126px;
}
.about-description{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
color: #ffffff;
padding-left: 126px;
margin-top: 24px;
}
.btn-primary{
  margin-top: 48px;
  padding-left: 158px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.about-content{
display: flex;
justify-content: space-between;
}
.side-img{
  padding-right: 138px;
  padding-top: 68.11px;
}
/* special section style  */
.special-container{
  display: flex;
  justify-content: space-between;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  margin-top: 120px;
}
.New-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #f30808;
}
.special-item{
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 22px;
}
.item-content{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 22px;
  color: #757575;
}
.special-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #f30808;
  padding-top: 22px;
}
.special-content{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; 
  padding: 22px;
  color: #757575;
}
.img-item{
 border: 10px solid red;
 border-radius: 50%;
 padding: 20px;
}
/* portfolio style  */
.portfolio{
  width: 1320px;
  height: 600px;
  margin: 50px auto;
}
.portfolio-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #f30808;
  margin-top: 120px;
}
.portfolio-description{
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.portfolio-info{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #757575;
}
.portfolio-container{
  display: flex;
  margin: 50px auto;
  gap: 24px;
  width: 1320px;
  height: 600px;
  flex-wrap: wrap;
  margin-bottom: 120px;
}
.info:hover{
  cursor: pointer;
  transform: scale(1.2);
}
/* msg style  */
.Subscribe{
  margin-top:666px;
}
.box{
  margin-top: 336px;
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  background-color: #FFF8F3;
  height: 616px;
  width: 1320px;

}
.msg-img{
  display: block;
  margin: auto;
  padding-top: 80px;
  
}
.msg-title{
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 40px;
 
}
.msg-description{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 22px;
  color: #757575;
  width: 896px;
  margin-left: 212px;
}
.child_form{
  display: flex;
  margin-left: 336px;
}
#form_list{
  border-radius: 50px 0px 0px 50px;
  padding: 30px;
  width: 500px;
  height: 72px;
  border: none;
}
.btn-item{
  border-radius: 0px 50px 50px 0px;
  background-color: #f30808;
  color: #ffffff;
  width: 200px;
  height: 72px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border: none;
}
/* footer styl */
.footer{
  background-color: black;
  height: 609px;
  margin-top: 120px;
}
.footer-info{
  width: 1320px;
  height: 600px;
  margin: 50px auto;
  margin-top: 120px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.footer-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  color: #ffffff;
  padding-left: 140px;
}
.call-icon{
  padding-top: 120px;
}


